## Section 5 Homework - Fill in the Blanks

Import the packages needed to perform the analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Load the data provided for the exercise

In [3]:
# Import the csv dataset
data = pd.read_csv("P4-Demographic-Data.csv")

Explore the data

In [4]:
# Visualize the dataframe
data

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [6]:
# Rename the column names
data.columns = ['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers', 'IncomeGroup']

In [ ]:
# Check top 6 rows
data._(6)

In [ ]:
# Check bottom 7 rows
data._(7)

In [ ]:
# Check the structure of the data frame
data._()

In [ ]:
# Check the summary of the data
data._()

### Request 1
You are employed as a Data Scientist by the World Bank and you are working on a project to analyse the World’s demographic trends.

You are required to produce a scatterplot illustrating Birth Rate and Internet Usage statistics by Country.

The scatterplot needs to also be categorised by Countries’ Income Groups.

In [ ]:
# Plot the BirthRate versus Internet Users categorized by Income Group
vis1 = sns._( data = data, x = '_', y = '_', fit_reg = False, hue = '_', size = 10 )

### Request 2
You have received an urgent update from your manager. 

You are required to produce a second scatterplot also illustrating Birth Rate and Internet Usage statistics by Country.

However, this time the scatterplot needs to be categorised by Countries’ Regions.

Additional data has been supplied in the form of lists.

In [ ]:
# Copy here the data from the homework provided in lists, Country names, codes and regions dataset

In [ ]:
# Create the dataframe
country_data = pd._({'CountryName': np.array(Countries_2012_Dataset), 
                             'CountryCode': np.array(Codes_2012_Dataset),
                             'CountryRegion': np.array(Regions_2012_Dataset)})

In [ ]:
# Explore the dataset
country_data._()

In [ ]:
# Merge the country data to the original dataframe
merged_data = pd.merge(left=data, right=country_data, how='inner', on="CountryCode")

In [ ]:
# Explore the dataset
merged_data._()

In [ ]:
# Plot the BirthRate versus Internet Users cathegorized by Country Region
vis2 = sns._( data = merged_data, x = '_', y = '_', fit_reg = False, hue = '_', size = 10 )

### Challenge

The world bank was very impressed with your deliverables on the previous assignment and they have a new project for you. 

You are required to produce a scatterplot depicting Life Expectancy (y-axis) and Fertility Rate (x-axis) statistics by Country. 

The scatterplot need to be categorised by Countries Regions.

You have been supplied with data for 2 years: 1960 and 2013 and you are requires to produce a visualisation for each of these years.

Some data has been provided in a CSV file, some in Python lists. All data manipulations have to be performed in Python (not in Excel) because this project can be audited at the later stage.

You also have been requested to provide insights into how the two periods compare.

In [ ]:
# Copy here the data from the homework provided in lists, for Country code and life expectancy at birth in 1960 and 2013

In [ ]:
# Create a data frame with the life expectancy
life_exp_data = pd._({'CountryCode': np.array(Country_Code),
                              'LifeExp1960': np.array(Life_Expectancy_At_Birth_1960),
                              'LifeExp2013': np.array(Life_Expectancy_At_Birth_2013)})

In [ ]:
# Check row counts
_(_(life_exp_data)) #187 rows

In [ ]:
# Check summaries
life_exp_data._()

Did you pick up that there is more than one year in the data? From the challenge we know that there are two: **1960** and **2013**

In [ ]:
# Merge the data frame with the life expectancy
merged_data = pd._(left=merged_data, right=life_exp_data, how='inner', on='CountryCode')

In [ ]:
# Explore the dataset
merged_data._()

In [ ]:
# Check the new structures
merged_data._()

We can see obsolete columns because of the merge operation

In [ ]:
# Rename the one of the colunms containing the country names and delete the other
merged_data._(columns = {'CountryName_x':'CountryName'}, inplace = True)
_ merged_data['CountryName_y']

In [ ]:
# Check structures again
merged_data._()

In [ ]:
# Plot the BirthRate versus LifeExpectancy cathegorized by Country Region in 1960
vis3 = sns._( data = merged_data, x = '_', y = '_', fit_reg = False, hue = '_', size = 10 )

In [ ]:
# Plot the BirthRate versus LifeExpectancy cathegorized by Country Region in 2013